@tailwind base;
@tailwind components;
@tailwind utilities;

/* p, */
/* span, */
/* h1, */
/* h2, */
/* h3, */
/* h4, */
/* h5, */
/* h6, */
/* li { */
/*     color: #171717; */
/* } */

/* 
    Potential Fonts:
    - Salsa
    - Rubik Mono One
    - Jetbrains Mono
*/

.heading-font {
    font-family: "JetBrains Mono", monospace !important;
    font-optical-sizing: auto; /* SPECIFIC TO JETBRAINS MONO FONT */
    font-weight: 800 !important; 
    font-style: normal !important;
}

.dark .shadow-inner-strong {
    box-shadow: inset 0 4px 8px 0 rgb(0 0 0 / 0.2);
}
